@import "tailwindcss";
@theme{
    --color-primary-50:  #f0fdf4;
  --color-primary-100: #dcfce7;
  --color-primary-200: #bbf7d0;
  --color-primary-300: #86efac;
  --color-primary-400: #4ade80;
  --color-primary-500: #22c55e;
  --color-primary-600: #16a34a;
  --color-primary-700: #15803d;
  --color-primary-800: #166534;
  --color-primary-900: #14532d;
  --font-poppins:"Open Sans", sans-serif;
}
@layer base{
  body {
 @apply font-poppins
}
span , a{
  @apply inline-block
}
button , a{
  @apply cursor-pointer
}
}
@utility container{
  @apply mx-auto px-4 sm:px-6 lg:px-8;
}
@layer components{
   .form-control {
    @apply px-3 py-2 rounded-md border border-gray-400/50 focus:outline-none focus:border-primary-600
   }
   .btn {
    @apply px-4 py-2 rounded-lg bg-gray-200  font-semibold hover:bg-gray-300 transition-colors duration-300
   }
}
 .swiper-button-prev,
 .swiper-button-next{
  @apply size-12! rounded-full bg-primary-400/50 text-lg after:text-lg! after:text-white after:font-bold hover:bg-primary-500/70 transition-colors duration-200
 }
 
 
 .swiper-pagination-bullet-active{
  @apply w-4! bg-white! rounded-full!
 }
.swiper-button-prev svg,
.swiper-button-next svg {
  width: 20px !important;  
  height: 20px !important; 
  color: white !important;
   
}
 .badges {
  display: inline-flex;
  align-items: center;
  gap: 5px; 
  font-weight: 800;
}
.image-gallery-wrapper {
  pointer-events: auto;
}

.image-gallery {
  overflow: visible !important;
}

.image-gallery-slide-wrapper {
  pointer-events: none;
}

.image-gallery-icon,
.image-gallery-thumbnails-wrapper {
  pointer-events: auto;
}

 
